

body {
	background-color: #000;
	padding-top: 30px;
}

.container {
	margin-top: 30px;
	background: #ffffff;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
}