@import 'reset';
@import 'grid';
@import 'colours';
@import 'mixins';
@import 'fonts';

body {
	color: $tertiary;
	padding-top: 30px;
	@include quinary-gradient;
	font: {
		family: "Lato", arial, sans-serif;
	}
}

// Links
a {
	color: $primary;
	&:hover, &:focus {
		color: $primary-darker;
	}
}

// Headers
h1,h2,h3,h4,h5,h6 {

}


.container {
	width: 960px;
	margin: 30px auto;
	background: #ffffff;
	@include box-shadow(0 0 20px rgba(0, 0, 0, 0.1));
	overflow: hidden;
}

#header {
	@include column(12);
}

#wrapper {
	@include column(12);
}

#content {
	@include column(9);
}

#sidebar {
	@include column(3);
}


#logo {
	display: inline;
}

.list-item {
  margin-bottom: 16px;
  text-align: center;
}
.list-item:hover {
  margin: -20px -10px -30px -10px;
}
 .list-item h3 a {
  display: block;
  padding-top: 12px;
  border-top: 1px solid #eee;
}
.list-item:hover h3 a {
  border-top: 1px solid #ccc;
}


.list-item div.product-image {
	height: 120px;
}
.list-item {padding:20px 0;border-bottom:1px solid #eee}

.list-item:hover {
	z-index: 10;
	padding: 20px;
	background: white;
	@include round-corners(5px);
	@include box-shadow(0 0 30px rgba(0, 0, 0, 0.3));
}

.pagination {
	clear: both
}